@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f8fafc;
}

.regular {
  background-color: #f5f5f4;
}

.destination {
  background-color: #dc2626;
}

.source {
  background-color: #8fbcbb;
}

.wall {
  background-color: #4c566a;
}

.grass {
  background-color: #22c55e;
}

.visited {
  animation-name: visitedAnimation;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes visitedAnimation {
  0% {
    transform: scale(0.6);
  }

  50% {
    transform: scale(0.8);
  }

  100% {
    transform: scale(1);
    background-color: #d6d3d1;
  }
}

.node-shortest-path {
  animation-name: shortestPath;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes shortestPath {
  0% {
    box-shadow: none;
  }

  100% {
    box-shadow: 0 0 0 4px #2e3440;
  }
}
