@tailwind base;
@tailwind components;
@tailwind utilities;

.regular,
.start,
.end {
  background-color: #e5e9f0 !important;
}

.wall {
  background-color: #4c566a !important;
}

.grass {
  background-color: #8fbcbb !important;
}

.node-visited {
  animation-name: visitedAnimation;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes visitedAnimation {
  0% {
    transform: scale(0.6);
  }

  50% {
    transform: scale(0.8);
  }

  100% {
    transform: scale(1);
    background-color: #d8dee9 !important;
  }
}

.node-shortest-path {
  animation-name: shortestPath;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes shortestPath {
  0% {
    box-shadow: none;
  }

  100% {
    box-shadow: 0 0 0 4px #2e3440;
  }
}
